/* 공통 스타일 */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 버튼 스타일 */
.btn-hover {
   width: 80px;
   height: 80px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

/* 버튼 컬러 스타일 */
.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
    box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

/* Chatbot Floating Button 컨테이너 */
.cbfloat-button-container {
    z-index: 1000;
    position: fixed;
    transform: translate(-50%, 0%);
    left: 75%;
    bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    height: 100px;
    text-decoration: none !important;
}

/* Chatbot Floating Container */
.cbfloat-container {
    z-index: 1000;
    position: fixed;
    transform: translate(-50%, 0%);
    right: 5%;
    bottom: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    text-decoration: none !important;
   width: 1px;
}

/* Chatbot Floating Button */
.cbfloat-button {
    display: flex;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
    font-size: 13px;
    white-space: nowrap;
    font-weight: bold;
    transition: 0.5s;
}

.cbfloat-button:hover {
    transform: translate(0%, -20%);
}

.cbfloat-button-image {
    height: 20px;
    margin-right: 5px;
}

/* Speech Bubble */
.speech-bubble {
    position: relative;
    background: #4eb10b;
    border-radius: .4em;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    border: 65px solid transparent;
    border-top-color: #4eb10b;
    border-bottom: 0;
    border-left: 0;
    margin-left: -32.5px;
    margin-bottom: -65px;
}

/* 기타 스타일 */
/*------------------------------------------------------------------*/
.hJaMqV {
    bottom: 135px !important;
    right: 33% !important;
}