/*공통서식*/
.contents_title_box {width: 100%; margin: 0 auto; margin-bottom: 35px; }
.contents_title { font-family: 'Noto Sans KR'; font-size: 30px; letter-spacing: -2px; color: #3d3d3d; font-weight: 600; margin-bottom: 5px; }
.contents_subtitle {font-size: 14px; letter-spacing: -1px; color: #3d3d3d; font-weight: 500; margin-bottom: 0;}
p {margin-bottom: 0 !important;}