.modal-header { background-color: #748769 !important; color: white;}

.modal_wrap{width: 95%; margin: 0 auto;}
.modal_top {padding: 40px;}
.modal_date {display: flex; align-items: center; justify-content: center; margin-bottom: 20px;}


.modal_btm {width: 95%; margin: 0 auto; padding: 0 20px 60px 20px;}
.modal_foodname p {font-size: 20px; font-weight: bold; letter-spacing: -1px;}

.modal_contents {display: flex; flex-wrap: wrap;}
.imgbox {width: 45%; height: 150px; background: #ccc; margin-right: 15px;}

.modal_article_wrap {padding: 18px 80px;}
.modal_article {display: flex; align-items: center; justify-content: center; margin-bottom: 20px;}
.modal_calorie p:first-child {font-size: 18px; font-weight: 300; margin-bottom: 0;}
.modal_calorie p:last-child {font-size: 12px; color: #ddd; letter-spacing: -0.5px;}

.modal_btnwrap1 button:first-child {margin-right: 15px;}

/* 변경 누르면 나타나는 부분 */
.change_prod_wrap {width: 95%; margin: 0 auto; padding: 0 20px 40px 20px;}
.similar_prod_title {margin-bottom: 20px;}
.similar_prod_title p {width: 110px; height: 30px; line-height: 30px; text-align: center; background: #000; color: #fff; font-weight: bold; font-size: 12px; border-radius: 100px;}

.similar_prod_img {display: flex; flex-wrap: wrap; margin-bottom: 70px;}
.modal_more {display: flex; align-items: center;;}

.modal_btnwrap2 {text-align: center;}
.modal_btnwrap2 button:first-child {margin-right: 15px;}