.modal-header { background-color: #748769 !important; color: white;}

.modal_wrap{padding: 20px;}
.modal_date {margin-bottom: 15px;}


.modal_top {width: 100%; margin-bottom: 20px;}
.modal_contents {display: flex; position: relative;}
.imgbox {width: 50%; height: auto; margin-right: 15px; border-radius: 20px; overflow: hidden;}
.imgbox img {display: block; border-radius: 20px;}

.modal_article_wrap {display: flex; justify-content: center; flex-direction: column;}
.modal_date button {width: 70px; height: 70px; line-height: 70px; font-size: 1rem; text-align: center; background: #b8c7ae; border: none; color: #000; font-weight: 500; 
border-radius: 50px; font-family: 'Noto Serif KR'; position: absolute; top: -17px; left: -17px;}
.modal_foodname {margin-bottom: 16px;}
.modal_foodname p:first-child {font-size: 26px; font-weight: bold; letter-spacing: -1px; margin-bottom: 8px !important;}
.modal_foodname p:last-child {font-size: 12px; color: #929292; letter-spacing: -0.5px; margin-bottom: 25px !important;}

.modal_btm {margin-bottom: 40px;}
.modal_btm p:first-child {font-size: 18px; font-weight: 600; margin-bottom: 0;}
.modal_btm p:last-child {font-size: 12px; color: #929292; letter-spacing: -0.5px;}

.modal_btnwrap1 button {width: 115px; height: 47px; line-height: 45px; font-size: 0.875rem; text-align: center; border: 1px solid #e9e9e9; background: #f8f8f8; color: #000; font-weight: 500; border-radius: 50px;}
.modal_btnwrap1 button:hover {background: #748769; color: #fff; border: none;}
/* 변경 누르면 나타나는 부분 */
.change_prod_wrap {width: 100%;}
.similar_prod_title {margin-bottom: 20px;}
.similar_prod_title p {width: 110px; height: 45px; line-height: 45px; text-align: center; background: #999; color: #fff; font-weight: 500; font-size: 0.875rem;; border-radius: 100px;}

.similar_prod_img { width: 100%; display: flex; margin-bottom: 70px; }
.randombox { width: 100%; height: 200px; display: flex; flex-direction: row; border-radius: 20px; overflow: hidden; box-sizing: border-box; }
.image_container { position: relative; width: 49%; margin-right: 2%; }
.image_text { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(0, 0, 0, 0.4); border-radius: 20px; color: white;  box-sizing: border-box; display: flex; justify-content: center; align-items: center; font-size: 22px; font-family: 'Noto Serif KR'; cursor: pointer; opacity: 0; transition: opacity 0.3s; }
.image_container:hover .image_text { opacity: 1; }
.image_container img { width: 100%; height: 200px; display: block;  border-radius: 20px; object-fit: cover;  max-width: 100%; box-sizing: border-box; }
.image_container img:hover { transform: scale(0.95); }


  


.randombox img:last-child {margin-right: 0;}
.modal_more {display: flex; align-items: center;}

.modal_btnwrap2 {text-align: center;}
.modal_btnwrap2 button:first-child {margin-right: 15px;}