.disease_wrap {width: 100%;}
.long_text {white-space: normal;overflow-wrap: break-word;max-width: 100%; }

/* d3edsf */
.disease_detail_vidio_wrap {display: flex;}


/* disease_main페이지 css*/
/* disease_main_box */
.disease_main_box {width: 100%; margin: 0 auto 100px auto; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; padding: 0 40px; background: #ddd;}
.t1 {margin-top: 100px;}              
.t2 {margin-top: 25px;}
.t3 {margin-top: 75px;}                
.disease_main_plan {width: 100%; display: flex; justify-content: center; padding-left: 10%;padding-right: 10%;}
.main_plan_box {width: 30%; height: 300px; background: #685d5ddd; margin: 5%;}

/* disease_contents */
.disease_contents {width: 94.8%; margin: 0 auto 180px auto;  background: #ddd; padding-bottom: 50px;}
.disease_tag_box{display: flex; flex-wrap: wrap; padding-left:10%;padding-right: 10%; justify-content: center;}
.disease_tag_box button { border: 1px solid #ccc; margin: 1%; padding: 10px; width:130px;border-radius: 15px;}
.disease_detail_wrap {margin: auto; width: 45%;height: 450px;background: #685d5ddd; margin-top: 50px;}
.disease_detail_plan {width: 100%; height: 450px; display: flex;}
.disease_detail_img {width: 40%;height:300px;background: #ddd; margin: auto;} 
.disease_detail_contents {width: 50%;height:300px;background: #ddd;margin: auto;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.disease_detail_text{height: 50%;width: 70%; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;}
.disease_detail_text p {white-space: normal;overflow-wrap: break-word;max-width: 100%; }
.disease_detail_contents button {margin-top: 30px; }


/* disease_sub 패이지 */
/* disease_sub_box */
.disease_sub_wrap {width: 100%; margin: 50px auto 0 auto; display: flex; flex-wrap: wrap; align-items: center; justify-content: start; padding: 0 40px; background: #ddd;}
.disease_sub_plan {width: 100%; display: flex; justify-content: center; padding-left: 10%;padding-right: 10%;}
.disease_sub_img {width: 30%; background: #685d5ddd; margin: 10px;}
.disease_sub_contents {width: 65%;height:450px; display: flex;flex-direction: column;justify-content: center;align-items: center; background: #685d5ddd;margin: 10px;}
.disease_sub_contents button {margin-top: 30px; }

