.healthcare_wrap {width: 100%;}

/* main_box */
.healthcare_main {width: 100%; height: 570px; margin: 0 auto; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; 
    padding: 0 40px; background: #ddd;}

.healthcare_submain {width: 100%; margin: 0 auto 100px auto; display: flex; flex-wrap: nowrap; overflow-x: auto;}
.challenge_box {width: 25vw; height: 25vw; background: #393939; display: flex; align-items: center; justify-content: center; font-size: 2vw; font-weight: 600; cursor: pointer;}
.challenge_box:nth-child(1) {color: #fff;}
.challenge_box:nth-child(2) {background: #c9c9c9;}
.challenge_box:nth-child(3) {background: #9b9b9b;}
.challenge_box:nth-child(4) {background: rgb(198, 205, 201);}

/* healthcare_contents */
.healthcare_contents {width: 94.8%; margin: 0 auto 180px auto;}
.healthcare_video_wrap {width: 100%; margin: 0 auto; display: flex; flex-wrap: wrap;}
.healthcare_video {width: 32%; height: 250px; margin-right: 2%; background: #ddd;}
.healthcare_video:last-child {margin-right: 0;}