.diet_wrap {width: 100%;}

/* ------------------------------- main_box ------------------------------- */
.main_box {width: 100%; height: 570px; margin: 0 auto 100px auto; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; 
    padding: 0 40px; background: url('../images/mydiet_main.jpg') no-repeat 50% 0%; background-size: cover; position: relative;}
.main_box::before {width: 100%; height: 100%; content: ''; position: absolute; top: 0; left: 0; background: rgba(255, 255, 255, 0.65) }

.main_calendar {width: 30%; height: 475px; margin-right: 2%; border: 1px solid #878787; border-radius: 20px;
    display: flex; justify-content: center; align-items: center; z-index: 1;}
.date_plan {overflow: hidden; width: 68%; height: 475px; padding: 25px; border: 1px solid #878787; border-radius: 20px; z-index: 1;}
.date_plan_datebtn {width: 100%; display: flex; justify-content: center; margin-bottom: 30px;}
.date_plan_datebtn button {margin-right: 8%; width: 60px; height: 60px; line-height: 60px; font-size: 0.875rem; text-align: center; background: #b8c7ae; border: none; color: #000; font-weight: 500; border-radius: 50px; font-family: 'Noto Serif KR'; cursor: pointer;}
.date_plan_datebtn button:last-child {margin-right: 0;}
   
.date_plan_img { display: flex; justify-content: center; margin-bottom: 30px;}
.date_plan_imgbox {position: relative; width: 45%; height: 265px; background: #999; border-radius: 20px; overflow: hidden;}
.date_plan_imgbox img {width: 100%; height: auto; border-radius: 20px; display: block;}

.date_plan_title {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); border-radius: 20px; display: flex; justify-content: center; align-items: center; color: white; z-index: 2;}
.date_plan_title p {margin: 0; font-size: 28px; font-family: 'Noto Serif KR'; letter-spacing: -1px;}

.date_plan_btn_wrap {width: 50%; margin: 0 auto; display: flex; justify-content: center; align-items: center; font-family: 'Noto Serif KR';}
.date_plan_btn_wrap button {width: 115px; height: 47px; line-height: 45px; font-size: 0.875rem; text-align: center; border: 1px solid #b8c7ae; background: #f8f8f8; color: #000; font-weight: 500; border-radius: 50px; margin-right: 2% !important;}
.date_plan_btn_wrap button:hover {background: #748769; color: #fff; border: none;}
.date_plan_datebtn button.selected {background-color: #e3e3e3; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);}
.date_plan_btn_wrap button:last-child {width: 245px; margin-right: 0 !important; }

/* diet_contents */
.diet_contents {width: 94.8%; margin: 0 auto 180px auto;}
/* -------------------------------section1 diet_recipe ------------------------------- */
.diet_recipe {width: 100%; margin-bottom: 180px;}
/* .recipe_video_wrap {width: 100%; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: center;}
.recipe_video {width: 32%; height: auto; margin-right: 2%;}
.recipe_video:last-child {margin-right: 0;} */

/* recipe_video_wrap */
.recipe_video_wrap {width: 100%; display: flex; flex-wrap: wrap; }
.recipe_video {width: 32%; height: 250px; margin-right: 2%; background: #ddd;}
.recipe_video:last-child {margin-right: 0;}

.diet_market_contents_bg {width: 100%; height: 236px; background: url('../images/mydiet_submain.jpg') no-repeat 50% 50%; background-size: cover; margin-top: 2%;}


/* -------------------------------section2 review_wrap ------------------------------- */
.diet_review {width: 100%; margin: 0 auto 180px auto;}
.mydiet_review_wrap {width: 100%; height: 350px; border-radius: 20px; background: #f6f6f6; display: flex; align-items: center; flex-wrap: wrap; justify-content: center; flex-direction: column;}
.carousel {width: 100%; }
.carousel_textwrap {width: 40%; height: auto; margin: 0 auto; box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);  padding: 30px; border-radius: 20px; background: #fff;}
.carousel_text_top {display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between;}
.carousel_text_top img {width: 35px; height: auto; margin-right: 10px;}
.carousel_text_top p {font-size: 16px; color: #666;}
.carousel_text_top_user {display: flex; flex-wrap: wrap;}
.carousel_text_star {color: red !important; font-size: 20px !important;}
.carousel_text_btm { margin-top: 20px; font-size: 20px;}


/* 기본CSS 강제적용 */
.css-ngu6n8-MuiButtonBase-root-MuiButton-root.Mui-disabled {background: rgb(192, 195, 189) !important; color: #000 !important;}



/* -------------------------------section3 diet_market ------------------------------- */
.diet_market {margin: 0 auto 180px auto;}
.diet_market_contents_wrap {width: 100%;  }
.diet_market_contents {margin-bottom: 100px !important; display: flex; flex-wrap: wrap; border: 1px solid #ddd; border-radius: 20px;}
.diet_market_left {width: 42%; height: auto; margin-right: 2%; border-radius: 20px; padding: 20px; display: flex; flex-direction: column; justify-content: center; position: relative;} 
.diet_market_left img {border-radius: 20px;}
.diet_market_left_text {letter-spacing: -1.5px;}
.diet_market_left_title {margin-top: 40px ; font-size: 23px; font-weight: bold;}
.diet_market_left_price {font-size: 30px; }
.diet_market_left_price span {color: red; font-weight: bold;}
/* 장바구니, 선물 아이콘 */
.diet_market_left_cart_icon, .diet_market_left_present_icon {position: absolute;  bottom: 20px; width: 70px; height: 70px; line-height: 65px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); border-radius: 50px; z-index: 999; display: flex; align-items: center; justify-content: center; cursor: pointer;}
.diet_market_left_cart_icon {right: 105px;}
.diet_market_left_cart_icon:hover {background: #ddd;}
.diet_market_left_present_icon {right: 20px}
.diet_market_left_present_icon:hover {background: #ddd;}
.diet_market_left_cart_icon img {width: 45px; height: 45px; z-index: 1;}
.diet_market_left_present_icon img {width: 35px; height: 35px; z-index: 1;}


.diet_market_right {width: 56%; height: auto; border-radius: 20px; padding: 20px;}
.diet_market_right img {width: 20%; height: 20%; border-radius: 20px;}
.diet_market_right_box {display: flex; flex-wrap: wrap; }
.diet_market_right_ul {margin-bottom: 21px !important;}
.diet_market_right_ul:last-child {margin-bottom: 0 !important;}
.diet_market_right_text {display: flex; flex-direction: column; justify-content: center; padding: 0 40px;}
.diet_market_right_title {font-size: 23px; font-weight: bold;}
.diet_market_right_price {margin-top: 10px;}
.diet_market_right_price span {color: red; font-weight: bold;}
/* 장바구니, 선물 아이콘 */
.diet_market_right_cart_icon, .diet_market_right_present_icon {position: absolute; top: 80px; width: 70px; height: 70px; line-height: 65px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); border-radius: 50px; z-index: 999; display: flex; align-items: center; justify-content: center; cursor: pointer;}
.diet_market_right_ul {position: relative;}
.diet_market_right_cart_icon {right: 105px;}
.diet_market_right_cart_icon:hover {background: #ddd;}
.diet_market_right_present_icon {right: 20px;}
.diet_market_right_present_icon:hover {background: #ddd;}
.diet_market_right_cart_icon img {width: 45px; height: 45px; z-index: 1;}
.diet_market_right_present_icon img {width: 35px; height: 35px; z-index: 1;}